body{
    margin: 0;
}

.container{
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: 20% 10% 10% 40% 20%;
    min-height: 100vh;
    max-height: 100vh;
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #d3c0d2;
    grid-area: 5 / 1 / 6 / 5;
    padding: 10px 10px 10px 10px;
}

.footer__heading{
    margin-right: auto;
}

.footer__text{
    max-width: 50%;
}

.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #A6979C;
    grid-area: 1 / 2 / 2 / 5;
    padding: 10px 10px 10px 10px;
}

.header__heading{
    margin-left: auto;
    margin-right: auto;
}

.header__text{
    max-width: 50%;
    margin-left: auto;
}

.navigation{
    grid-area: 2 / 2 / 3 / 4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #D0FFD6;
    padding: 5%;
}

.navigation__link{
    text-transform: uppercase;
    text-decoration: none;
    color: inherit;
}

.navigation__link:hover{
    text-decoration: underline;
    transition: 0.3s;
}

.main{
    display: flex;
    align-items: center;
    background: #DAFFEF;
    grid-area: 3 / 2 / 5 / 4;
    padding: 10px 10px 10px 10px;
}

.main__text{
    margin-right: 25%;
}

.left-aside{
    background: #D5E2BC;
    grid-area: 1 / 1 / 5 / 2;
    padding: 10px 10px 10px 10px;
    display: flex;
    align-items: center;
}

.right-aside{
    background: #D5E2BC;
    grid-area: 2 / 4 / 5 / 5;
    padding: 10px 10px 10px 10px;
    display: flex;
    align-items: center;
}

.main__ul{
    margin: 0 auto 0 auto;
}

.main__ol{
    margin: 0 auto 0 auto;
}

.main__image{
    margin: auto;
    width: 50%;
    height: auto;
}

.main__map-img{
    margin: auto;
    width: 70%;
    height: auto;
}