:root {
    --my-cyan: #daffef;
    --my-light-green: #d0ffd6;
    --my-dark-purple: #a6979c;
    --my-light-purple: #d3c0d2;
    --my-yellow: #d5e2bc;
}

body {
    margin: 0;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: minmax(min-content, 20%) minmax(min-content, 10%) minmax(min-content, 50%) minmax(min-content, 20%);
    min-height: 100vh;
    min-width: 100vw;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #d3c0d2;
    grid-area: 4 / 1 / 5 / 5;
    padding: 10px 10px 10px 10px;
}

.footer__heading {
    margin-right: auto;
}

.footer__text {
    max-width: 50%;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: var(--my-dark-purple);
    grid-area: 1 / 2 / 2 / 5;
    padding: 10px 10px 10px 10px;
}

.header__heading {
    margin-left: auto;
    margin-right: auto;
}

.header__text {
    max-width: 50%;
    margin-left: auto;
}

nav {
    grid-area: 2 / 2 / 3 / 4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--my-light-green);
    padding: 5%;
}

nav a {
    text-transform: uppercase;
    text-decoration: none;
    color: inherit;
}

nav a:hover {
    text-decoration: underline;
    transition: 0.3s;
}

main {
    display: flex;
    align-items: center;
    background: var(--my-cyan);
    grid-area: 3 / 2 / 4 / 4;
    padding: 10px 10px 10px 10px;
}

.main__text {
    margin-right: 25%;
}

.left-aside {
    background: var(--my-yellow);
    grid-area: 1 / 1 / 4 / 2;
    padding: 10px 10px 10px 10px;
    display: flex;
    align-items: center;
}

.right-aside {
    background: var(--my-yellow);
    grid-area: 2 / 4 / 4 / 5;
    padding: 10px 10px 10px 10px;
    display: flex;
    align-items: center;
}

.main__ul {
    margin: 0 auto 0 auto;
}

.main__ol {
    margin: 0 auto 0 auto;
}

.main__image {
    margin: auto;
    width: 50%;
    height: auto;
}

.main__map-img {
    margin: auto;
    width: 70%;
    height: auto;
}
